<h1>Add new CD</h1>
<form action="/all_cd" method="post">
  <label for="new-title">Title</label>
  <input type="text" name="new-title" id="new-title">
  <label for="new-artist">Artist</label>
  <input type="text" name="new-artist" id="new-artist">
  <label for="new-price">Price</label>
  <input type="number" name="new-price" id="new-price">
  <button type="submit" name="button">submit</button>
</form>
